<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>hello</h1>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-7366422176579290",
                    enable_page_level_ads: true
                });
            </script>
    </body>
</html>