<!--<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dang ky</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form method="POST" action="/registers">
            <input type="text" placeholder="username" name="username">
            <input type="email" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <input type="password" placeholder="confirmPassword" name="confirmPassword">
            <button type="submit">register</button>
        </form>
    </body>
</html>-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login-and-register.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&amp;subset=vietnamese"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="fontawesome/js/all.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-4 h-100 d-flex align-items-center">
                <div class="w-100" style="position: relative; height: 600px;">
                    <div class="register">
                        <div class="title-form">
                            <h1>ĐĂNG KÝ</h1>
                        </div>
                        <form method="POST" action="/registers">
                            <div class="form-group">
                                <label for=""><b>Username</b></label>
                                <div class="input-icon">
                                    <i><i class="fas fa-user"></i></i>
                                    <input type="text" name="username"  class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""><b>Email</b> </label>
                                <div class="input-icon">
                                    <i><i class="fas fa-envelope"></i></i>
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""><b>Password</b> </label>
                                <div class="input-icon">
                                    <i><i class="fas fa-lock"></i></i>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""><b> Confirm password</b></label>
                                <div class="input-icon">
                                    <i><i class="fas fa-check"></i></i>
                                    <input type="password" name="confirmPassword" class="form-control"
                                        placeholder="Confirm password">
                                </div>
                            </div>
                            <div class="my-3 login-Account"><small>Bạn đã có tài khoản? </small> <a href="/logins" class="dangNhap">Đăng
                                    nhập</a>
                            </div>
                            <button  type="submit" class="btn btn-primary w-100 mt-4" id="btnDangky"><b> Tạo tài khoản</b></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="duong-cong"></div>
                <div class="shape"></div>
                <div class="logo"><img src="images/logo_toy.png" class="img-fluid" alt=""></div>
                <div class="anh-nen"><img src="images/transformers_PNG81.png" class="img-fluid" alt=""></div>
            </div>
        </div>
    </div>
</body>

</html>