<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/trang-mua-hang.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&amp;subset=vietnamese"
        rel="stylesheet">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/fontawesome/js/all.min.js"></script>
    <script src="/js/trang-mua-hang.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="my-header">
        <div class="container-fluid">
            <div class="row">
                <a href="#" class="col-sm-3 logo-toy"><img src="/images/logo_toy.png" class="img-fluid" alt=""></a>
                <!-- het logo -->
                <div class="my-search col-sm-6 m-auto">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-search" type="button"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <!-- hết nút tìm kiếm -->
                <div class="col-sm-3 m-auto">
                    <div class="dangNhap-DangKy">
                        <i class="fas fa-user"></i>
                        <a href=""> <i>Đăng nhập</i></a>/ <a href=""><i>Đăng ký</i></a>
                        <!-- hết nút đăng nhập đăng ký -->
                    </div>
                    <div class="thongTin-GioHang">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="soLuong-GH">0</div>
                        <!-- hết số lượng sản phẩm trong giỏ hàng -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center danhMuc">Danh mục</div>
                    <ul class="listDanhMuc">
                            <% for(var i =0; i< Category.length; i++) {%>
                                <li class="list-group-item"><a href=""><%=Category[i].name%></a></li>
                                <% }%>
                    </ul>
                </div>
                <!-- hết danh mục -->
                <div class="col-sm-8">
                    <nav class="navbar navbar-expand-sm navbar-light bg-light nav-content h-100">
                        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse h-100" id="collapsibleNavId">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex align-items-end">
                                <li class="nav-item">
                                    <a class="nav-link trangChu" href="#">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link taiKhoan" href="#">Tài khoản</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link gioHang" href="#">Giỏ hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link hoTro" href="#">Hỗ trợ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link khuyenMai" href="#">Khuyến mãi</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- hết header -->
    <form method="POST" action="/creatUsers/edit">
    <div class="my-content">
        <div class="offset-sm-3  col-sm-8 list-SanPham">
            <div class="noiDungThanhToan">
                <h3>Chỉnh sửa thông tin</h3>
                <div class="editTaiKhoan m-5">
                    <label for="example-text-input" class="col-2 col-form-label">Tên:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="ten">
                    </div>
                    <p></p>
                    <div class=" col-10 form-group">
                        <label for="exampleSelect1">Giới tính:</label>
                        <select class="form-control" id="exampleSelect1" name="gioitinh">
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>
                    </div>
                    <p></p>
                    <label for="example-text-input" class="col-2 col-form-label">Ngày sinh:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="ngaysinh">
                    </div>
                    <p></p>
                    <div class="col-10">Địa chỉ:
                        <input class="form-control" type="text" id="example-text-input" name="diachi">
                    </div>
                    <p></p>
                    <div class="col-10">Điện thoại:
                        <input class="form-control" type="tel" id="example-tel-input" name="dienthoai">
                    </div>
                    <p></p>
                    <div class="col-10">Vùng:
                        <select class="form-control form-control" name="vung">
                            <option> TP Hồ Chí Minh </option>
                            <option> An Giang </option>
                            <option> Bà Rịa – Vũng Tàu </option>
                            <option> Bắc Giang </option>
                            <option> Bắc Kạn </option>
                            <option> Bạc Liêu </option>
                            <option> Bắc Ninh </option>
                            <option> Bến Tre </option>
                            <option> Bình Định </option>
                            <option> Bình Dương </option>
                            <option> Bình Phước </option>
                            <option> Bình Thuận </option>
                            <option> Cà Mau </option>
                            <option> Cần Thơ </option>
                            <option> Cao Bằng </option>
                            <option> Đà Nẵng </option>
                            <option> Đắk Lắk </option>
                            <option> Đắk Nông </option>
                            <option> Điện Biên </option>
                            <option> Đồng Nai </option>
                            <option> Đồng Tháp </option>
                            <option> Gia Lai </option>
                            <option> Hà Giang </option>
                            <option> Hà Nam </option>
                            <option> Hà Nội </option>
                            <option> Hà Tĩnh </option>
                            <option> Hải Dương </option>
                            <option> Hải Phòng </option>
                            <option> Hậu Giang </option>
                            <option> Hòa Bình </option>
                            <option> Hưng Yên </option>
                            <option> Khánh Hòa </option>
                            <option> Kiên Giang </option>
                            <option> Kon Tum </option>
                            <option> Lai Châu </option>
                            <option> Lâm Đồng </option>
                            <option> Lạng Sơn </option>
                            <option> Lào Cai </option>
                            <option> Long An </option>
                            <option> Nam Định </option>
                            <option> Nghệ An </option>
                            <option> Ninh Bình </option>
                            <option> Ninh Thuận </option>
                            <option> Phú Thọ </option>
                            <option> Phú Yên </option>
                            <option> Quảng Bình </option>
                            <option> Quảng Nam </option>
                            <option> Quảng Ngãi </option>
                            <option> Quảng Ninh </option>
                            <option> Quảng Trị </option>
                            <option> Sóc Trăng </option>
                            <option> Sơn La </option>
                            <option> Tây Ninh </option>
                            <option> Thái Bình </option>
                            <option> Thái Nguyên </option>
                            <option> Thanh Hóa </option>
                            <option> Thừa Thiên Huế </option>
                            <option> Tiền Giang </option>
                            <option> Trà Vinh </option>
                            <option> Tuyên Quang </option>
                            <option> Vĩnh Long </option>
                            <option> Vĩnh Phúc </option>
                            <option> Yên Bái </option>
                        </select>
                    </div>
                    <label for="example-text-input" class="col-2 col-form-label"></label>
                    <div class="col-10">
                        <input class="form-control" type="hidden" name="acc_id" value="<%= id%>">
                    </div>
                    <p></p>
                    <button class="btn btn-warning" style="position: absolute;bottom: 10px;right: 70px;" type="submit"><b>Lưu thông
                            tin</b></button>
                </div>

            </div>
        </div>
    </div>
</form>
    <div class="footer">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="header-footer">
                            Giới thiệu về chúng tôi
                        </div>
                        <ul>
                            <li>
                                <a href=""> Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="">Chính sách bán hàng</a>
                            </li>
                            <li>
                                <a href="">Hợp tác kinh doanh</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="header-footer">
                            Thông tin trợ giúp
                        </div>
                        <ul>
                            <li>
                                <a href="">Tư vấn tiêu dùng</a>
                            </li>
                            <li>
                                <a href=""> Hỗ trợ mua hàng</a>
                            </li>
                            <li>
                                <a href="">Hình thức thanh toán</a>
                            </li>
                            <li>
                                <a href=""> Phương thức vận chuyển</a>
                            </li>
                            <li>
                                <a href=""> Chính sách trả & đổi hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="header-footer">
                            Thông tin liên hệ
                        </div>
                        <ul>
                            <li>
                                <a href="">Công ty THHH Toy Store</a>
                            </li>
                            <li>
                                <a href="">1 Võ Văn Ngân, Linh Chiểu, Thủ Đức, Hồ Chí Minh</a>
                            </li>
                            <li>
                                <a href="">Hotline:0345123456</a>
                            </li>
                            <li>
                                <a href=""> www.toystore.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>